<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="org.lanqiao.bean.Manager" alias="manager" />
        <typeAlias type="org.lanqiao.bean.RegisterUser" alias="registerUser" />
        <typeAlias type="org.lanqiao.bean.Kind" alias="kind" />
        <typeAlias type="org.lanqiao.bean.Information" alias="information"/>
        <typeAlias type="org.lanqiao.bean.Follow" alias="follow"/>
        <typeAlias type="org.lanqiao.bean.UserView" alias="userView"/>
        <typeAlias type="org.lanqiao.bean.GoodAndBad" alias="goodAndBad"/>
        <typeAlias type="org.lanqiao.bean.CollectionInfo" alias="collectionInfo"/>
    </typeAliases>
  <mappers>
    <mapper resource="org/lanqiao/mapper/ManagerMapper.xml"/>
    <mapper resource="org/lanqiao/mapper/RegisterUserMapper.xml"/>
    <mapper resource="org/lanqiao/mapper/KindMapper.xml"/>
    <mapper resource="org/lanqiao/mapper/InformationMapper.xml"/>
    <mapper resource="org/lanqiao/mapper/FollowMapper.xml"/>
    <mapper resource="org/lanqiao/mapper/ViewMapper.xml"/>
    <mapper resource="org/lanqiao/mapper/GoodAndBadMapper.xml"/>
    <mapper resource="org/lanqiao/mapper/CollectionInfoMapper.xml"/>
  </mappers>
</configuration>